body {
    background-color: 		#20B2AA;
}

.low-usage {
  color: green;
  font-size: 40px;
  text-align: center;
}

.medium-usage {
  color: black;
  font-size: 40px;
  text-align: center;
}

.high-usage {
  color: red;
  font-size: 40px;
  text-align: center;
}

.fancy button {
    position: relative;
    background-color: #8B008B;
    font-size: 20px;
    width: 60px;
    margin-left: 30px;
    border-style: dashed;
    box-shadow: 10px 10px 5px #9400D3;
}

.on button {
    position: relative;
    background-color: green;
    font-size: 20px;
    width: 60px;
    margin-left: 30px;
    border-style: dashed;
    box-shadow: 10px 10px 5px #3D9970;
}

.off button {
    position: relative;
    background-color: red;
    font-size: 20px;
    width: 60px;
    margin-left: 30px;
    border-style: dashed;
    box-shadow: 10px 10px 5px #85144b;
}
